#root,
html,
body {
    height: calc(100vh - 10vh);
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Baloo 2';
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}